body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-content: center;
  background-color: paleturquoise;
}

table {
  border: 2px solid darkgray;
  background-color: yellow;
  margin: auto;
}

.p1 {
  background-color: red;
}

.p2 {
  background-color: black;
}

td {
  border: 2px solid darkgray;
  border-radius: 50px;
  background-color: white;
  /* color: white; */
  height: 100px;
  width: 100px;
}

